@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
  --font-heading: "Hind", sans-serif;
}

html, body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
